:root { 
	--font-color: #A4A4A4;
}

* {
	box-sizing: border-box;
}

html {
	font-family: "Lucida Sans", sans-serif;
	color: #63686c;
}

a {
	text-decoration: none !important;
}

a.incognito {
	color: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

fieldset {
	border: 0;
}

.gitzw {
	background-color: #d4d4d4;
	color: white;
	padding: 8px 8px 4px 8px;
	margin-top: 0px;
	word-break: break-all;
	/* max-width: 700px; */
}

.graph {
	width: 100%;
	height: auto;
}

.row:after {
	content: "";
	clear: both;
	display: table;
}

/* !! Affects every class with col- in its name !! */
[class*="col-"] {
	float: left;
	padding: 15px;
	width: 100%;
}

@media only screen and (min-width: 600px) {
	.col-s-1 {
		width: 8.33%;
	}
	.col-s-2 {
		width: 16.66%;
	}
	.col-s-3 {
		width: 25%;
	}
	.col-s-4 {
		width: 33.33%;
	}
	.col-s-5 {
		width: 41.66%;
	}
	.col-s-6 {
		width: 50%;
	}
	.col-s-7 {
		width: 58.33%;
	}
	.col-s-8 {
		width: 66.66%;
	}
	.col-s-9 {
		width: 75%;
	}
	.col-s-10 {
		width: 83.33%;
	}
	.col-s-11 {
		width: 91.66%;
	}
	.col-s-12 {
		width: 100%;
	}
	.menu {
		position: fixed;
		top: 0;
		left: 0;
		overflow-y: auto;
		overflow-x:hidden;
		height: 100%;
	}
	.place {
		display: block;
	}
}

@media only screen and (min-width: 768px) {
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}
}

.header {
	background-color: #ffffff;
	color: #ffffff;
	padding: 15px;
}

.logo {
	display: block;
	background-color: gray;
	padding: 15px;
	margin-bottom: 10px;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu li {
	padding: 8px;
	margin-bottom: 7px;
	background-color: white;
	color: black;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: larger;
}

.menu li:hover {
	background-color: gray;
	color: white;
}

.menu a {
	color: inherit;
	display: block;
}

.menu li.current {
	background-color: gray;
	color: yellow;
}

.aside {
	background-color: #33b5e5;
	padding: 15px;
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
	background-color: #E6E6E6;
	color: var(--font-color);
	text-align: center;
	font-size: 12px;
	padding: 5px;
}

.footer a {
	color: inherit;
}

.name-blok {
	color: var(--font-color);
	margin-top: 8px;
	font-weight: bold;
	font-size: 5vw;
	padding-left: 8px;
}

.name-blok a {
	color: inherit !important;
}

.at-blok {
	font-weight: bold;
	font-size: 5vw;
	padding-left: 8px;
	margin-bottom: 40px;
}

.at-blok span {
	color: #D7DF01;
}

.at-blok a {
	color: pink;
	text-decoration: none;
}

.front img {
	max-height: 92vh;
}

td {
	padding: 0px 10px 0px 0px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* for collapse.js */
.collapse-button {
	padding: 6px;
	max-width: 500px;
	cursor: pointer;
}

.collapse-button:hover {
	background-color: gray;
	color: white;
}

.collapse-button::before {
	content: " \25BE   ";
}

.active::before {
	content: " \25B4   ";
}

.collapsable {
	display: none;
}

.collapsable.open {
	display: block;
}
/* end collapse.js */

.image-container {
	margin-top: 15px;
	margin-bottom: 0px;
	display: block;
}

/* img and data container */
.img-data-container {
	width: 100%;
	clear: both;
}

.img-container {
	float: left;
	padding: 0px;
	/* border: 1px solid blue; */
	margin-right: 1em;
	margin-bottom: 1em;
}

.img_data {
	clear: none;
	padding: 0px;
	min-width: 200px;
	/* border: 1px solid red; */
}

/* prevent data block too small */
.img_data:before {
    content: "";
    width: 20em;
    display: block;
    overflow: hidden;
    /* border: 1px solid green; */
}

div.table-data {
	min-width: 300px;
    display: table;
    color: #63686c;
}

div.table-data > div {
    display: table-row;
}

div.table-data > div > div {
    display: table-cell;
    padding: 2px;
}

div.table-data > div > div:first-child {
	color: #bcc0c3;
}

/* end img and data container */

