:root { 
	--font-color: #A4A4A4;
	--bg-color: rgb(255, 255, 255);
	--contrast-color: rgb(100, 100, 100);
}

* {
	box-sizing: border-box;
}

html {
	font-family: "Lucida Sans", sans-serif;
	color: var(--contrast-color); /* #63686c; */
}

body {
	background-color: var(--bg-color); /* rgb(255, 255, 255); */
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;            /* Footer height */
  
  background-color: #E6E6E6;
  color: var(--font-color);
  text-align: center;
  font-size: 12px;
  padding-top: 6px;
}

#footer a {
	color: inherit;
}


a {
	text-decoration: none !important;
}

a.incognito {
	color: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

fieldset {
	border: 0;
}

.gitzw {
	background-color: #d4d4d4;
	color: white;
	padding: 8px 8px 4px 8px;
	margin-top: 0px;
	word-break: break-all;
	/* max-width: 700px; */
	/* border: 1px solid red; */
}

.orange {
	background-color: orange;
}

.byellow {
	background-color: #c0c467;
}

.button-panel {
	margin: 20px 10px 20px 20px;
	padding-bottom: 3rem;  			/* Footer height */
}

.svg-icon {
	float: left;
}

.graph {
	width: 100%;
	height: auto;
}

.row:after {
	content: "";
	clear: both;
	display: table;
}

/* !! Affects every class with col- in its name !! */
[class*="col-"] {
	float: left;
	padding: 15px;
	width: 100%;
}

@media only screen and (min-width: 600px) {
	.col-s-1 {
		width: 8.33%;
	}
	.col-s-2 {
		width: 16.66%;
	}
	.col-s-3 {
		width: 25%;
	}
	.col-s-4 {
		width: 33.33%;
	}
	.col-s-5 {
		width: 41.66%;
	}
	.col-s-6 {
		width: 50%;
	}
	.col-s-7 {
		width: 58.33%;
	}
	.col-s-8 {
		width: 66.66%;
	}
	.col-s-9 {
		width: 75%;
	}
	.col-s-10 {
		width: 83.33%;
	}
	.col-s-11 {
		width: 91.66%;
	}
	.col-s-12 {
		width: 100%;
	}
	.menu {
		position: fixed;
		top: 0;
		left: 0;
		overflow-y: auto;
		overflow-x:hidden;
		height: 100%;
	}
	.place {
		display: block;
	}
}

@media only screen and (min-width: 768px) {
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}
}

.header {
	background-color: #ffffff;
	color: #ffffff;
	padding: 15px;
}

.logo {
	display: block;
	background-color: gray;
	padding: 15px;
	margin-bottom: 10px;
}

.logo svg:hover {
  fill: red;
  stroke: magenta;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu li {
	padding: 8px;
	margin-bottom: 7px;
	background-color: white;
	color: black;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: larger;
}

.menu li:hover {
	background-color: gray;
	color: white;
}

.menu a {
	color: inherit;
	display: block;
}

.menu li.current {
	background-color: gray;
	color: yellow;
}

.aside {
	background-color: #33b5e5;
	padding: 15px;
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.name-blok {
	color: var(--font-color);
	margin-top: 8px;
	font-weight: bold;
	font-size: 5vw;
	padding-left: 8px;
}

.name-blok a {
	color: inherit !important;
}

.at-blok {
	font-weight: bold;
	font-size: 5vw;
	padding-left: 8px;
	margin-bottom: 40px;
}

.at-blok span {
	color: #D7DF01;
}

.at-blok a {
	color: pink;
	text-decoration: none;
}

td {
	padding: 0px 10px 0px 0px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* for collapse.js */
.collapse-button {
	padding: 6px;
	cursor: pointer;
}

.collapse-button:hover {
	font-weight: bold;
}

.collapse-button::before {
	content: " \25BD   ";
	font-size: smaller;
}

.colactive::before {
	content: " \25B3   ";
	font-size: smaller;
} 

.collapsable {
	display: none;
}

.collapsable.open {
	display: block;
}
/* end collapse.js */

.image-container {
	margin-top: 15px;
	margin-bottom: 0px;
	display: block;
}

/* search results */
.search-dashboard {
	background-color: #e8e9ec;
	color: #3a3a38;
	/* border: 1px solid green; */
	overflow: hidden;
	margin-bottom: 5px;
}

.searchquery {
	background-color: #e8e9ec;
	font-size: smaller;
	padding: 5px;
	float: left;
}

.searchquery span {
	padding-left: 20px;
	
}

.searchbutton {
	float: right;
	font-size: 24px;
	padding: 10px;
	background-color: #e8e9ec;
	border: 1px solid #e8e9ec; 
	cursor: pointer;
}

.searchbutton:hover {
	border: 1px solid gray;
}

/* end search dashboard */

.indicator-wrapper {
	clear: both;
	border: 1px solid #e8e9ec;
	color: gray;
	margin-bottom: 1px;
}

.relevance-indicator {
	height:18px;
	background-color: #e8e9ec;
	padding-left: 5px;
	padding-top: 2px;
	font-size: smaller;
}

/* end search results */

/* img and data container */
.img-data-container {
	width: 100%;
	clear: both;
	/* border: 1px solid blue; */
}

.heap {
	float: left;
	padding: 0px 19px 19px 50px;
	/* border: 1px solid blue; */
}

.img-container {
	float: left;
	padding: 0px;
	margin-right: 1em;
	margin-bottom: 1em;
}

.img-container img {
	border: 1px solid rgba(130, 130, 130, 0.5);
}

.img_data {
	clear: none;
	padding: 0px;
	min-width: 200px;
	/* border: 1px solid green; */
}

/* prevent data block too small */
.img_data:before {
    content: "";
    width: 20em;
    display: block;
    overflow: hidden;
    /* border: 1px solid green; */
}

.img_data2 {
	clear: none;
	padding: 0px;
	min-width: 50px;
	/* border: 1px solid red; */
}

/* prevent data block too small */
.img_data2:before {
    content: "";
    width: 15em;
    display: block;
    overflow: hidden;
    /* border: 1px solid green; */
}

/* prevent data block too small */
.img_data:before {
    content: "";
    width: 20em;
    display: block;
    overflow: hidden;
    /* border: 1px solid green; */
}

div.table-data {
	min-width: 300px;
    display: table;
    /* color: #63686c; */
}

div.table-data > div {
    display: table-row;
}

div.table-data > div > div {
    display: table-cell;
    padding: 2px;
}

div.table-data > div > div:first-child {
	color: #bcc0c3;
}

/* end img and data container */

/* paging */
.paging {
	display: block;
	clear: both;
	width: 100%;
	/* height: 35px; */
	/* background-color: #d4d4d4; */
	margin-top: 4px;
	padding: 3px 0px;
	color: #d4d4d4;
	text-align: center;
	/* font-size: calc(18px + 0.6vw); */
	font-size: 20px;
	font-weight: bold;
	/* border: 1px solid gray; */
}

.paging a, span.paging-link {
	color: inherit;
	padding: 6px 3px 0px 3px;
	cursor: pointer;
	border: 1px solid white;
}

.paging a.selected, span.selected {
	color: gray;
}

.paging a.chrono {
	float: right;
	font-size: larger;
}

.paging a:hover, span.paging-link:hover {
	border: 1px solid #d4d4d4;
}

.copyprevious {
	cursor: pointer;
}

/* -- resource --*/
.subscript {
	font-size: smaller;
	font-style: italic;
}

.front img {
	max-height: 92vh;
}

.resource {
	position: relative;
	/* border: 1px solid red; */
}

.resource img {
	max-height: 95vh;
}

/* left and right paging */
.lrpage-prev {
	position: absolute;
    bottom: 0;
    left: 0;
  	width: 30%;
  	height: 100%;
  	/* border: 1px solid magenta; */
}

.lrpage-next {
	position: absolute;
    bottom: 0;
    right: 0;
  	width: 40%;
  	height: 100%;
  	text-align: right;
  	/* border: 1px solid green; */
}

[class^="lrpage-"] a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	/* border: 1px solid blue; */
}

.lrpage-prev a > span {
	position: absolute;
  	top: 50%;
  	left: 0%;
}

.lrpage-next a > span {
	position: absolute;
  	top: 50%;
  	right: 0%;
}

[class^="lrpage-"] a > span {
	visibility: hidden;
	font-size: 32px;
	padding: 12px 9px 7px 9px;
	color: white;
	background: rgba(127, 127, 127, 0.3);
}

[class^="lrpage-"] a:hover > span {
	visibility: visible;
}

/* end left and right paging */

.resource-view h1 {
	word-break: break-all;
}

.button-rect {
	margin-top: 5px;
	padding-top: 2px;
	/* border: 1px solid rgba(127, 127, 127, 0.3); */
}

/* svg */
.button-rect svg {
  stroke: rgba(50, 50, 50, 0.5);
  fill: rgba(0, 0, 0, 0.75);
}

.button-rect svg:hover {
	fill: white; /* rgba(127, 127, 127, 0.5); */
	stroke: white; /* rgba(127, 127, 127, 0.5); */
}

.button-rect svg:hover text {
	fill: black; /* rgba(127, 127, 127, 0.5); */
	stroke: black; /* rgba(127, 127, 127, 0.5); */
	font-size: 9px;
}
/* ---*/

.button-rect span {
	margin-left: 5px;
	font-size: 12px;
	vertical-align: top;
}

.representation-id {
	margin-right: 50px;
	margin-bottom: 15px;
	font-size: 12px;
	vertical-align: top;
	/* border: 1px solid green; */
}

.representation-id::before {
	content: "representation id: ";
	font-weight: bold;
}

.resource-id::after {
	content: ": resource id";
	font-size: 12px;
}

.json-head {
	color: black;
}

.structured-data {
	position: fixed;
	right: 5px;
	bottom: 50px;
	font-size: 11px;
	background-color: rgba(250, 250, 250, 0.8);
	color: rgb(55, 55, 55);
	z-index: 200;
}

.structured-data .collapsable {
	padding: 0px 10px 0px 10px;
	max-height: 50vh;
	max-width: 50vw;
	overflow-y: auto;
	overflow-x: auto;
}

@media screen and (max-width: 700px) {
	.structured-data .collapsable {
		max-width: 100vw;
	}
}

.structured-data .colactive {
	background-color: rgba(100, 100, 100, 0.3);;
}

.structured-data .collapse-button::before {
	content: " \25B3   ";
	font-size: smaller;
}

.structured-data .colactive::before {
	content: " \25BD   ";
	font-size: smaller;
} 



